{{outlet}}


<h1> Hello. Ask a question. </h1>

<div class="jumbotron">
  <div class="container">
    <h2>about bears</h2>
    <h3>(only about bears)</h3>
  </div>
</div>

<ul>
{{#each model as |question|}}
  {{question-tile question=question destroyQuestion="destroyQuestion"}}
{{/each}}
</ul>


{{new-question save2="save3"}}
